body {
    background: #20282e;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
}

header, footer {
    background-color: black;
}

aside {
    background-color: #3b3b3b;
}

p {
    line-height: 1.7rem;
}

#map {
    height: 80vh;
    background: #2e2e2e;
}
/*legend*/
.legend {
    /* visibility: hidden; */
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(75, 75, 75, 0.8);
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 220px;
}


.legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    color: whitesmoke;
    margin: 0;
}

.legend h3 span {
    font-size: 1.3em;
    margin: 0 20px 0 0;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 4px 0;
}

.legend li {
    height: 22px;
}

.legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.dropdown-ui{
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 10000;
    
}
.dropdown-ui select{
    background-color: black !important;
}

.checkbox{
    border-radius: 5px;
    position: absolute;
    left: 1em;
    bottom: 1em;
    z-index: 20000;
    background-color: black;
    color:white
}
.leaflet-tooltip{
    background-color: black !important;
    color:white !important;
}
.income-tooltip{
    color:#ff00ff !important;
    border: 1px solid #ff00ff
}

.faded {
    color: rgba(163, 163, 163, 0.493) !important;
    
}
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    aside {
        height: 80vh;
    }
    .legend{
        visibility:visible;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .legend{
        visibility:visible;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}